<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Develop/public/css/ageStyle.css">
    <link rel="icon" type="image/png" sizes="32x32" href="Develop/public/media/favicon-32x32.png">
    <title>TIPSY AGE VERIFICATION</title>
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,900,400' rel='stylesheet' type='text/css'>

<main>
  <article class="box">
 <div class="overlay-verify">
    <div class="box">
      <h3>Age Verification</h3>
      <p>Please enter your date of birth:</p>
      <input type="date" id="dateInput" name="bday"></input>
      <a href="#" class="btn btn-alpha"  id="refresh-page">ENTER</a>
     </div>  
      <p id="caption">Be respectful and always drink responsibily.</p>
   
    </div>
  </article>
  
 </div>
</main>
<script src="public/age.js"></script>
</body>
</html>
