<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Login.css">
    <title>Tipsy</title>
</head>

<body>
    <div class="boxes">
        <h3>About us</h3>
        <p>Tipsy is an easy to use website to search reviews on local bars in Adelaide. The reviews will include a
            rating out of 5, a comment and either an uploaded image or default image. The review/post is able to be
            commented on by other users.
        </p>
    </div>
    <img src="tipsy glass.jpg" alt="Wine Glass showing Tipsy Logo" width="200" height="200" title="Tipsy Logo" a>




</body>

</html>