<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/media/favicon-32x32.png">
    <title>TIPSY AGE VERIFICATION</title>
</head>
<body>
  <link href='https://fonts.googleapis.com/css?family=Raleway:600,900,400' rel='stylesheet' type='text/css'>

  

 <div class="flex-column justify-space-around">
    
    <main class="container container-fluid mt-5">


    {{!-- <!-- Render the sub layout --> --}}

   
    {{#if age}}
    <script src="/public/js/age.js"></script>
   
      <nav>
        {{!-- <!-- Conditionally render login or logout links --> --}}
        {{#if logged_in}}
        {{!-- <a href="/profile">profile</a>  --}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
   



    {{{ body }}}

     {{/if}}

    
    
    
    
    </main>




    <footer>
      <p id="caption">Be respectful and always drink responsibily.</p>
    </footer>
  </div>
{{!-- <!-- Render script for logged in users only --> --}}
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>

