<!DOCTYPE html>
<html>

<head>
    <title>Tipsy</title>
    <div class="boxes">
        <h3>About us</h3>
        <p>Tipsy is an easy to use website to search reviews on local bars in Adelaide. The reviews will include a
            rating out of 5, a comment and either an uploaded image or default image. The review/post is able to be
            commented on by other users.
</head>
<img src="tipsy glass.jpg" alt="Wine Glass showing Tipsy Logo" width="200" height="200" title="Tipsy Logo" a>


<link rel="stylesheet" href="Login sign up page.css">

</html>