
<video autoplay muted loop id="myVideo" src="/public/media/glass.mp4" type="video/mp4">
  {{!-- <source src="/public/media/glass.mp4" type="video/mp4"> --}}
</video>
  
    <div class="age">
      <h1>Age Verification
      <p>Please enter your date of birth:</p>
      <form >
      <input type="date" id="dateInput" name="bday"></input>
      <input type="submit" id="submit" value="Submit">
      </form>
      
    
     

      </h1>

      
<script>
src="/public/js/age.js"
console.log("this was the date selected: " + dateInput);

</script>

    </div>
    