<div class="container">
    <h2>Test</h2>
    <h2>{{bar.name}}</h2>
    {{#each posts as |post|}}
    <h3>{{post.title}}</h3>
    <p>{{post.post-content}}</p>
    <p>{{post.rating}}</p>

    {{/each}}
    
    
 <button type="submit" class="btn">Make a new post</button>


</div>