<div class="container">
    <h2>Test</h2>
    <h2>{{bar.name}}</h2>
    {{!-- {{#each bar.posts as |posts|}}
    
    {{/each}} --}}
    
    <h3>{{Post.post-title}}</h3>
    <p>{{Post.post-content}}</p>
    <p>{{Post.rating}}</p>



</div>