<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="Develop/public/media/favicon-32x32.png">
    <title>TIPSY Dashboard</title>
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,900,400' rel='stylesheet' type='text/css'>

<main>

    <section>
    <section>   
  <div class="sortByOptions">
    <select id="sortby">
        <option value="asc">Higher First</option>
        <option value="des">Lower First</option>
    </select>
    
  </div>
    </section>
  <div>
       <section id="mainContent">
        <div class="barList">
          
            <div class="bar01">BAR 01 <span id="bar01"></span></div>
            
            <div class="bar02">BAR 02<span id="bar02"></span></div>
            
            <div class="bar03">BAR 03 <span id="bar03"></span></div>
            
            <div class="bar04">BAR 04<span id="bar04"></span></div>
            
        </div>

        <section id="left">
        <div>
            <input type="button" onclick="alert('Making a new Post!')" value="Make a new Post">
        </div>
           <details>
           <div class="barDetails">
            <div>Image to display <span id="barimage"></span></div>
            
            <div>Bar Comment <span id="barComment"></span></div>
            

            <form>
                <label for="comment">Make a comment:</label><br>
                <input type="text" id="comment" name="comment" value="make your comment here"><br><br>
                <input type="submit" value="Submit">
              </form>
            
         </div>
        </details>
    </section>

    </section>

  </div>
</section>


</main>
{{!-- <script src="public/age.js"></script> --}}
</body>
</html>
