



html, body{
    font-family: helvetica;
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Raleway;
    line-height: 1.4;
  }
  /* 
  body {
   font-size: 100%;
    
    @media (min-width: 32em) {
      font-size: 110%
    }
    @media (min-width: 54em) {
      font-size: 111%
    }
    @media (min-width: 74em) {
      font-size: 115%
    }
  
    @media (min-width: 96em) {
      font-size: 135%
    }
  }  */
  a.btn{
    background-color: #090909;
    color: #fff;
    text-decoration: none;
    /* display:inline-block; */
    letter-spacing: 0.1em;
    padding: 2px;
    
  }
  h3 {
      color:#fff
  }
  p {
      color: rgb(119, 119, 119);
      text-shadow: 1px 1px #000;
      font-weight: 400;
      padding: 5px;
  
  }
  
  .overlay-verify{
    background: #000;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .box {
  
    /* background-image: url(https://media.istockphoto.com/id/157681775/photo/martini-toast-silhouette.jpg?s=612x612&w=0&k=20&c=nIva42IzC1T3FoDJeDW8zXlBSqJVTCRy7WPNdwzq1W4=); */ */
    /* background-repeat:no-repeat; */
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
    margin: 0 auto;
    z-index: 9;
    width: 70%;
    height: 40%;
    
  };
  