/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }

/* create custom CSS variables (also called custom properties) and apply them to the root of the page, making them accessible to all other CSS */
:root {
    /* declare a variable with `--` syntax */
    --background: grey;
    --light: #fff;
    --navlink-color: #b9c6ae;
    --font: black ;
    --lines:rgb(97, 94, 94);
  }
  
  body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    /* font-size: 20px; */
    /* background-color: #FDF8F5; */
    color: #4F4846;
  }  
.flex-column{
  position: relative;
}
.flex-column a{
  font-size: 80px;
  text-decoration: none;
  color:var(--font)
}
.flex-column nav a{
  font-size: 40px;
}

footer {
  background-color: var(--background);
  border-top: 5px solid var(--lines); 
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

footer p {
  margin: 2%; 
  color: var(--light); 
  text-align: center;
}
.barList a, p{
  font-size: 40px;
  text-align: center;

}
