/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }

/* create custom CSS variables (also called custom properties) and apply them to the root of the page, making them accessible to all other CSS */
:root {
    /* declare a variable with `--` syntax */
    --background: grey;
    --light: #fff;
    --navlink-color: #b9c6ae;
  }
  
  body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #FDF8F5;
    color: #4F4846;
  }  

  main{
    flex-wrap: wrap;
  }
  #mainContent{
    border: #b9c6ae solid 1px;
    display: flex;
    align-items: center;
    
  }

  .barList{
    width: 50%;

  }

  #left{
    width: 50%;
  }

  .sortByOptions{
    position: relative;
    align-items: center;
    width: 100%;
    font-size: 80px;
    background-color:var(--background);

  }

  #sortby{
    position: relative;
    font-size: 40px;
    align-content: center;
    -ms-flex-align: center;
  }
