/* Universal Selectors */
* {
    margin:0;
    padding:0;  
}

a:link {
    text-decoration: none;
}

body {
    color: white;
    background-color: black;
}

img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


/* Header & Nav Bar */
header {
    position: relative;
    /* display: block; */
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem 5rem;
    background: white;
    font-family: 'Chivo Mono', monospace;
}


header button {
    font-size: 24px;
    border: 0;
    font-family: 'Chivo Mono', monospace;
    background-color: white;
}

header:visited {
    color: black;
}

header h1 {
    display: inline;
    color: black;
    font-size: 40px;
}

nav {
    float: right;
    display: inline;
}

nav li {
    font-size: 24px;
    position: relative;
    display: inline-block;
    list-style-type: none;
    padding: 0 1rem;
    color: black;
}

header h1:hover, nav li:hover {
    color:grey;
}

nav li > .nav-object {
    position: relative;
    display: block;
    padding: 10px 15px;
}


.homepage h2{
    text-align: center;
    padding-top: 30%;
  }

/* Dashboard Content Selectors */
#displayed-bars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#bar-div {
    padding: 35px 0px 35px 0px;
}

#displayed-bars:link {
    text-decoration: none; 
    color: white;
}

#displayed-bars:visited {
    color: white;
}

#displayed-bars:hover {
    color: #ffc700;
}

.bar-contents {
    font-family: 'Chivo Mono', monospace;
}

#dashboard-tag {
    font-family: 'Chivo Mono', monospace;
    text-align: center;
    font-size: 28px;
}

/* Rating Selectors */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    flex-direction: row-reverse;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★';
}

.rate > input:checked ~ label {
    color: #ffc700;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Footer */
footer {
    /* position: relative; */
    display: block;
    width: 100vw;
    /* height: 100%; */
    margin: 0 auto;
    padding: 1rem 5rem;
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    color:black;
    font-family: 'Chivo Mono', monospace;
    text-align: center;
}
